article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(../assets/wikipedia_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, sans-serif;
}

noscript {
  text-align: center;
}

noscript h2 {
  width: 70%;
  height: 20%;
  background-color: red;
  color: white;
  margin: 0 auto;
}

nav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

article {
  width: 80%;
  background: rgba(240, 240, 240, 0.95);
  margin: 0 auto;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav ul {
  width: 90%;
  padding: 0;
  color: white;
  text-align: left;
  height: 50px;
}

#tab2,
#tab3 {
  position: relative;
  margin-left: -10px;
  padding-left: 10px;
}

.on {
  background: #fff;
  display: inline-block;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: top;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  height: 50px;
}

.off {
  background: #888;
  display: inline-block;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: top;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
}

nav ul li {
  display: inline-block;
  width: 150px;
  height: 45px;
}

footer {
  margin: 15px auto;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 0;
}

#up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#theTopForm {
  width: 20%;
  min-height: 300px;
  display: inline-block;
  margin: 0 auto;
}

#topResults {
  width: 75%;
  display: inline-block;
  min-height: 800px;
}

label {
  display: block;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  width: 80%;
  float: left;
}

select {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  width: 80%;
  margin: 2px 0 20px 20px;
}

input {
  position: relative;
  font-weight: bold;
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  width: 80%;
  margin: 2px 0 20px 20px;
}

#topInfo {
  font-size: 20px;
  font-weight: bold;
  color: #5c5c3d;
  border-bottom: solid 1px #bfbd9f;
  padding-bottom: 10px;
}

#errorContainer {
  font-size: 13px;
  font-weight: bold;
  color: red;
  height: 50px;
}

img {
  float: right;
  padding: 20px;
}

#articleTitle {
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
  font-size: 28px;
  text-align: left;
  padding: 20px;
  margin: 20px;
  text-indent: 0;
  font-weight: 400;
  height: 37px;
  line-height: 37.44px;
}

#currentArticle {
  padding: 15px;
  margin: 15px;
  text-align: left;
  width: 100%;
  text-indent: 35px;
  font-family: sans-serif;
  border: solid 2px #bfbd9f;
  border-radius: 10px;
}

#visites {
  display: inline;
  color: #7f7f7f;
}
